body{
    margin: 0;
    height: 100vh;
    overflow:hidden;
    background-color: #232d41;
}

.container{
    margin: 10px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, fr);
    grid-template-rows: repeat(3, fr);
    grid-auto-rows: minmax(150px, fr);
    gap: 20px;
}

.one{
    background-color: #fd825c;
    grid-column: 1;
    grid-row: 1;
}

.two{
    background-color: #068b71;
    grid-column: 2;
    grid-row: 1;
}

.three{
    background-color: #fda061;
    grid-column: 3;
    grid-row: 1;
}

.four{
    background-color: #fc6057;
    grid-column: 4;
    grid-row: 1;
}

.five{
    background-color: #fd825c;
    grid-column: 5;
    grid-row: 1;
}

.six{
    background-color: #068b71;
    grid-column: 1;
    grid-row: 2;
}

.seven{
    background-color: #fda061;
    grid-column: 2;
    grid-row: 2;
}

.eight{
    background-color: #fc6057;
    grid-column: 3/6;
    grid-row: 2;
}

.nine{
    background-color: #068b71;
    grid-column: 1/6;
    grid-row: 3;
}